.Services {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.content {
    text-align: center;
    padding-left: 30px;
}

.content1, .content2, .content3 {
    text-align: center;
    padding-left: 80px;
    padding-bottom: 50px;
}

.content img {
    width: 300px;
    filter: drop-shadow(7px 7px 7px #222);
    padding-left: 30px;
    border-bottom-right-radius: 1000%;
    border-bottom-left-radius: 1000%;
}

.heading {
    width: 50%;
    background-color: #6ab0d8;
    filter: drop-shadow(7px 7px 7px #222);
}